@import "../scss/variables";

.container {
  width: 700px;
  height: 400px;
  background: white;
  position: relative;
  display: grid;
  grid-template: 100% / 50% 50%;
  box-shadow: 2px 2px 10px 0 rgba(#333, 0.2);
}

.message {
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  z-index: 4;

  &:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 70%;
    background: $grey;
    opacity: 0;
    left: 0;
    top: 15%;
  }

  &__wrapper {
    width: 60%;
  }
}

.button_message {
  margin: 5px 0;
}

.signup {
  &:before {
    opacity: 0.3;
    left: 0;
  }
}

.login {
  &:before {
    opacity: 0.3;
    left: 100%;
  }
}

@media (max-width: 750px) {
  .container {
    transform: scale(0.8);
  }
}
