@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

$font: "Source Sans Pro", sans-serif;
$blue: #809bce;
$purple: #9893da;
$grey: #c3c3d8;
